.h1-login {
  font-family: "Saira Stencil One";
  font-size: 32px;
  line-height: 50px;
  color: #ffffff;
  margin-bottom: 30px;
  text-align: center;
}
.main-login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 100%;
}
.input-login {
  border: none;
  outline: none;
  height: 58px;
  width: 100%;
  padding-left: 20px;
  margin: 13px 0;
  border-radius: 5px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.login-button {
  width: 326px;
  height: 46px;
  left: 23px;
  top: 375px;
  background: #a328d6;
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  outline: none;
  border: none;
}
.linkSignUp {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  margin-top: 35px;
  text-align: center;
}
.button-new-div {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}
.div-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}