* {
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #8C11BE;
}
a{
    text-decoration: none !important;
}