.main-home {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 100%;
}
.header-home {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
}
.header-home h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #ffffff;
}
.logs-article {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 15px;
  width: 100%;
  height: 400px;
  border-radius: 5px;
  background-color: #ffffff;
}
.saldo {
  position: absolute;
  bottom: 10px;
  left: 15px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}
.valor {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  text-align: right;
  color: #03ac00;
}
.newIn {
  position: relative;
  margin: 13px 5px 0 0;
  display: flex;
  text-decoration: none;
  outline: none;
  width: 195px;
  height: 114px;
  background: #a328d6;
  border-radius: 5px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 20px;
  color: #ffffff;
}
.newIn h4 {
  position: absolute;
  left: 7px;
  bottom: 7px;
  text-align: left;
  width: 70px;
}
.newIn svg {
  position: absolute;
  top:10px;
  left: 10px;
  height: 25px;
}
.newOut h4 {
  position: absolute;
  left: 10px;
  bottom: 10px;
  text-align: left;
  width: 70px;
}
.newOut svg {
  position: absolute;
  top:7px;
  left: 7px;
  height: 25px;
}
.newOut {
  position: relative;
  margin: 13px 0 0 5px;
  display: flex;
  outline: none;
  width: 195px;
  height: 114px;
  background: #a328d6;
  border-radius: 5px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 20px;
  color: #ffffff;
}
.divButton {
  display: flex;
  width: 100%;
  height: 70px;
}
.logs {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.logs h4 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #c6c6c6;
}
.log h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.log h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
}
.green {
  color: #03ac00;
}
.red {
  color: #c70000;
}
.logout {
  position: absolute;
  top:25px;
  right: 0;
}
.logout svg {
  color:#ffffff;
  height: 40px;
}